{% extends 'pages/base.html' %}

{% block title %}About Us - Online Store{% endblock %}

{% block header_title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>About Our Store</h2>
            <p>This is a sample About page for the Django application</p>
        </div>
        <div class="col-lg-6">
            <h2>Developed By:</h2>
            <h5>Cristian Zapata</h5>
        </div>
    </div>
</div>
{% endblock %}
