{% extends 'pages/base.html' %}

{% block title %}Contact Us - Online Store{% endblock %}

{% block header_title %}Contact Us{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Contact Information</h3>
            <p>Email: contact@onlinestore.com</p>
            <p>Address: 123 Elm Streat, *Inserte referencia*</p>
            <p>Phone: +1 234 567 8900</p>
        </div>
        <div class="col-lg-6">
            <h3>We're Here to Help!</h3>
            <p>If you have any questions or need further assistance, feel free to reach out to us using the information above.</p>
        </div>
    </div>
</div>
{% endblock %}
